@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  display: block;

}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 576px;
  margin: 0 auto;
  padding: 6px;
}